<div id="game-canvas" class="game-canvas" #gameCanvas>
  @for (card of gameService.CARDS; track $index) {
    <img
      class="fixed"
      [ngSrc]="'/svg-cards/' + card + '.svg'"
      width="168"
      height="244"
      priority
      hidden
    />
  }

  Player {{ gameService.playerTurn() }}'s turn
  <br />
  {{ gameService.gamePhase() }}
  <br />
  {{ gameService.cardAnimation() }}
  <br />
  {{ gameService.animationCard() | json }}
  <br />
  {{ gameService.slaps() | json }}
  <br />
  {{ gameService.isPileSlappable() | json }}
  <br />
  {{ gameService.cardsInPileBottomToTop | json }}

  <app-card
    xPercent="50"
    yPercent="50"
    angleDegrees="0"
    [faceUp]="false"
    [hide]="gameService.animationCard().invisible"
    [@cardMove]="gameService.cardAnimation()"
    (@cardMove.start)="gameService.cardAnimationStart($event)"
    (@cardMove.done)="gameService.cardAnimationDone($event)"
  ></app-card>

  @for (cardInPile of gameService.cardsInPileBottomToTop; track $index) {
    <app-card
      [xPercent]="cardInPile.xPercent"
      [yPercent]="cardInPile.yPercent"
      [angleDegrees]="cardInPile.angleDegrees"
      [whichCard]="cardInPile.whichCard"
    ></app-card>
  }
  @for (player of gameService.players; track $index) {
    <app-player [player]="player" [playerNumber]="$index"></app-player>
  }
</div>
